#about{
  &:before {
    content: "\f0f7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #9fb4cd;
    font-size: 1217px;
    padding-right: 0.5em;
    position: absolute;
    top: 298px;
    left: 500px;
    z-index: 0;
    opacity: .1;
  }
}
#about-page{
  h1{
    font-size: 57px;
    text-transform: uppercase;
    @media (max-width: 414px) {
      line-height: 57px;
    }
  }
  .heading{
    margin-bottom: 0;
  }
  .about-description{
    @media (max-width: 414px) {
      img{
        width: 20%;
      }
    }
  }
  .slide{
    height: 459px !important;
  }
}